<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1><%= product.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products">All Products</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Product Details</h2>
            <ul>
                <li>
                    Name: <%= product.name %>
                </li>
                <li>
                   <img src="<%= product.img %>" alt="Product Image"/>
                </li>
                <li>
                    Type: <%= product.productType %>
                </li>
                <li>
                    Strain: <%= product.strain %>
                </li>
                <li>
                    Indica or Sativa: <%= product.indicaSativa %>
                </li>
                <li>
                    THC: <%= product.thc %>%
                </li>
                <li>
                    Dispensary: <%= product.dispensary %>
                </li>
                <li>
                    Company: <%= product.company %>
                </li>
                <li>
                    rating: <%= product.rating %>
                </li>
                <li>
                    Comments: <%= product.comments %>
                </li>
            </ul>
            <a href="/products/<%= product._id %>/edit">Edit</a>
            <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>
        </section>
    </main>
</body>
</html>